<link rel="stylesheet" href="/css/wizard.css" />
<link rel="stylesheet" href="/css/config.css" />
<div class="page-content">
	<h2 class="page-header">Your configuration</h2>
	
	<p class="instructions">Please set your game controls</p>
	<p class="instructions">Choose from keys W, A, S and D for controls Jump, Shoot, Slide and Run </p>

	<a href="jump">
		<button class="btn btn-primary">
			Set your key configuration
		</button>
	</a>
	<a href="existing">
		<button class="btn btn-primary">
			Copy configuration from an existing user
		</button>
	</a>
</div>