<link rel="stylesheet" href="/css/wizard.css" />
<link rel="stylesheet" href="/css/config.css" />

<script type="text/javascript" src="/js/create.js"></script>

<div class="page-content">
	<h2 class="page-header">Set your configuration</h2>

	<div class="configuration-box">
		<div class="card jump-select key-control-box">
			<div class="card-block">
				<p class="instructions">
					Enter a key for Jump control
				</p>
				<p class="key-preview jump-preview">
				</p>
				<input class="jump-input hide" type="text" name="jumpInput" id="jumpInput">
				<button class="btn btn-success" id="jump-key">
					Next
				</button>
			</div>
		</div>
		<div class="card shoot-select key-control-box hide">
			<div class="card-block">
				<p class="instructions">
					Enter a key for Shoot control
				</p>
				<p class="key-preview shoot-preview">
				</p>				
				<input class="shoot-input hide" type="text" name="shootInput">
				<button class="btn btn-success" id="shoot-key">
					Next
				</button>				
			</div>
		</div>
		<div class="card slide-select key-control-box hide">
			<div class="card-block">
				<p class="instructions">
					Enter a key for Slide control
				</p>
				<p class="key-preview slide-preview">
				</p>				
				<input class="slide-input hide" type="text" name="slideInput">
				<button class="btn btn-success" id="slide-key">
					Next
				</button>				
			</div>
		</div>
		<div class="card run-select key-control-box hide">
			<div class="card-block">
				<p class="instructions">
					Enter a key for Run
				</p>
				<p class="key-preview run-preview">
				</p>
				<input class="run-input hide" type="text" name="runInput">
				<a href="/configuration/show">
					<button type="submit" class="btn btn-success" id="run-key">
						Finish
					</button>
				</a>
			</div>
		</div>
	</div>
</div>