<link rel="stylesheet" href="/css/wizard.css" />
<link rel="stylesheet" href="/css/config.css" />

<script type="text/javascript" src="/js/create.js"></script>

<div class="page-content">
	<h2 class="page-header">Set your configuration</h2>
	<p class="instructions">Please set your game control for Jump</p>

	<div class="configuration-box">
		<div class="card jump-select key-control-box">
			<div class="card-block">
				<p class="instructions">
					Enter a key for Jump control
				</p>
				<p class="jump-key" id="jumpKey">
					
				</p>
				<button class="btn btn-success">
					Next
				</button>
				</div>
		</div>
		<div class="card shoot-select key-control-box hide">
			<div class="card-block">
				<p class="instructions">
					Enter a key for Shoot control
				</p>
				<p class="shoot-key" id="shootKey">
					
				</p>				
				<button class="btn btn-success">
					Next
				</button>				
				<input class="shoot-input hide" type="text" name="shootInput">
			</div>
		</div>
		<div class="card slide-select key-control-box hide">
			<div class="card-block">
				<p class="instructions">
					Enter a key for Slide control
				</p>
				<p class="slide-key" id="slideKey">
					
				</p>				
				<button class="btn btn-success">
					Next
				</button>				
				<input class="slide-input hide" type="text" name="slideInput">
			</div>
		</div>
		<div class="card run-select key-control-box hide">
			<div class="card-block">
				<p class="instructions">
					Enter a key for Run
				</p>
				<p class="run-key" id="jumpKey">
					
				</p>
				<button class="btn btn-success">
					Finish
				</button>				
				<input class="run-input hide" type="text" name="runInput">
			</div>
		</div>
	</div>
</div>