<link rel="stylesheet" href="/css/config-show.css" />

<script type="text/javascript" src="/js/copy_configuration.js"></script>

<div class="page-content">
	<h1>Existing key configurations</h1>
	<div class="list-group-container">
		<div class="styled-select blue semi-square">
				<select class="custom-select pull-left" id="select-conf">
					{{#each users}}
					  <option value={{username}}>{{username}}</option>
					{{/each}}
				</select>
		</div>
		<div>
			<button class="copy-conf btn btn-success pull-right" id="copyConf" onclick="copyConfiguration()">
				Copy
			</button>
		</div>
	</div>
</div>