<link rel="stylesheet" href="/css/config-show.css" />

<script type="text/javascript" src="/js/copy_configuration.js"></script>

<div class="page-content">
	<h1>Existing key configurations</h1>
	<ul class="list-group">
				<select class="custom-select pull-left" id="select-conf">
					{{#each users}}
					  {{!-- <option selected>Choose a user configuration</option> --}}
					  <option value={{username}}>{{username}}</option>
					{{/each}}
				</select>
				<button class="copy-conf btn btn-success pull-right" id="copyConf" onclick="copyConfiguration()">
					Copy
				</button>
	</ul>
</div>