<link rel="stylesheet" href="/css/wizard.css" />
<link rel="stylesheet" href="/css/config.css" />

<script type="text/javascript" src="/js/jump.js"></script>

<div class="page-content">
	<h2 class="page-header">Your configuration</h2>
	<p class="instructions">Please set your game controls</p>
	<p class="instructions">Choose from keys W, A, S and D for controls Jump, Shoot, Slide and Run </p>

	<div class="configuration-box">
		<div class="card jump-select key-control-box">
			<div class="card-block">
				<p class="instructions">
					Enter a key for Jump control
				</p>
				<input class="jump-input hide" type="text" name="jumpInput">
			</div>
		</div>
	</div>
</div>