<link rel="stylesheet" href="/css/wizard.css" />
<link rel="stylesheet" href="/css/config-show.css" />

<script type="text/javascript" src="/js/show_configuration.js"></script>

<div class="page-content">
	<h1>Your key configuration</h1>
	<ul class="list-group">
	{{#with config}}
	  <div class="row list-row">
		  <li class="list-group-item">
		  	Jump Control
		  	<p class="pull-right config-display" id="jump-config"></p>
		  </li>
	  </div>
	  <div class="row list-row">
		  <li class="list-group-item">
			  Shoot Control
			  <p class="pull-right config-display" id="shoot-config"></p>
			</li>
	  </div>
	  <div class="row list-row">
		  <li class="list-group-item">
		  	Slide Control
		  	<p class="pull-right config-display" id="slide-config"></p>
		  </li>
	  </div>
	  <div class="row list-row">
		  <li class="list-group-item">
		  	Run Control
		  	<p class="pull-right config-display" id="run-config"></p>
		  </li>
	  </div>
	{{/with}}
	</ul>
</div>