<link rel="stylesheet" href="/css/wizard.css" />
<link rel="stylesheet" href="/css/config-show.css" />

<script type="text/javascript" src="/js/show_configuration.js"></script>

<div class="page-content">
	<h1>Your key configuration</h1>
	{{#with config}}
		<p id="jump-config"></p>
		<p id="shoot-config"></p>
		<p id="slide-config"></p>
		<p id="run-config"></p>
	{{/with}}
</div>