.page-content {
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.list-group-item {
	font-family: 'Comfortaa', cursive;
	margin: 10px;
}

.config-display {
	padding-left: 10px;
	border-left: 1px solid gray;
}

.right {
	margin: 0 auto;
}

.list-group {
	padding-top: 20px;
	display: flex;
  justify-content: space-between;
}